# Writing dictionary into file

In [1]:
import json

In [2]:
my_dict = {"a":[1,2,3,4],"b":[12,12,23,34,]}

In [3]:
print(my_dict)

{'a': [1, 2, 3, 4], 'b': [12, 12, 23, 34]}

In [4]:
a = 2

In [5]:
import os
import csv

In [6]:
csvFile = open("data.csv","a")
csvWriter = csv.writer(csvFile)

In [7]:
csvWriter.writerow([1,2,3,"a"])

9

In [8]:
from textblob import TextBlob
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [9]:
polarity = analyzer.polarity_scores("hello asshole fuck off")

In [10]:
polarity["compound"]

-0.5423

In [11]:
import pandas as pd

In [12]:
df = pd.DataFrame({"A":[1,2,3],"B":[4,5,6]})

In [13]:
df

   A  B
0  1  4
1  2  5
2  3  6

In [14]:
def add(x):
    return x

In [15]:
df["c"] = df["A"].apply(lambda x:add(x))

In [16]:
df

   A  B  c
0  1  4  1
1  2  5  2
2  3  6  3

In [20]:
df.set_index([[3,4,5]],inplace=True)

In [21]:
df

   A  B  c
3  1  4  1
4  2  5  2
5  3  6  3

In [3]:
str = " vlkmftrbkm"
byte(str)

NameError: name 'byte' is not defined

In [2]:
x = 'po xerx po x x'
x.rstrip('x')

'po xerx po x '

In [1]:
lists = ["abs"]
for i in lists:
    print(i)

abs

In [3]:
print("dfvef {}".format(x))

dfvef po xerx po x x